.topic-create {

  &-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .comment {
    resize: none;
    min-height: 10rem;

    &-bar {
      padding-top: 1rem;

      .counter {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid $color-grey-dark;
      }

      .create {
        padding: 0.4rem 1rem 0.4rem 1rem;
        border-radius: 10px;

        &-low {
          color: #f8a303;
        }

        &-zero {
          color: $color-red;
        }
      }
    }
  }
}
