@font-face {
    font-family: cera-pro;
    src: url(../fonts/normal.woff2);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: cera-pro;
    src: url(../fonts/ight.woff2);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cera-pro;
    src: url(../fonts/italic.woff2);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: cera-pro;
    src: url(../fonts/italic_bold.woff2);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: cera-round-pro;
    src: url(../fonts/bold.woff2);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: cera-round-pro;
    src: url(../fonts/regular.woff2);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cera-round-pro;
    src: url(../fonts/hard.woff2);
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: cera-round-pro;
    src: url(../fonts/standard.woff2);
    font-weight: 500;
    font-style: normal
}
